/*breadcrumb*/
.breadcrumb-box {
  background: #f2f2f2;
  overflow: hidden;
}
.breadcrumb-box .breadcrumb {
  background: #f2f2f2;
  color: #7f7f7f;
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}
.breadcrumb-box .breadcrumb li {
  line-height: 17px;
  text-shadow: none;
  display: inline-block;
}
.breadcrumb-box .breadcrumb li:before {
  content: "/";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb-box .breadcrumb li a {
  color: #7f7f7f;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.breadcrumb-box .breadcrumb .active {
  color: #999;
}
#catalog .page-header {
  margin: 0 0 15px;
  padding: 0;
}
#catalog .page-header .container {
  position: relative;
}
#catalog .page-header .container .title {
  font-weight: 400;
  padding: 0;
  position: relative;
  font-size: 21px;
}
@media (min-width: 992px) {
  #catalog {
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#catalog .btn-group {
  width: 100%;
  position: relative;
  display: inline-block;
}
#catalog .category-img {
  background: #f2f2f2;
  margin: 0 0 5px;
  position: relative;
}
#catalog .products {
  clear: both;
  margin-top: 20px;
}
@media (min-width: 992px) {
  #catalog .products .productyr {
    width: 33.33333333%;
  }
}
#catalog .products .productyr .actions a {
  display: inline-block;
  height: 54px;
  margin: 0 -2px;
  padding-top: 19px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 138px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 5px;
}
#catalog .products .product-image {
  background: #f2f2f2;
  display: inline-block;
  line-height: 0;
  width: 270px;
  height: 270px;
}
#catalog .btn-group-sm .btn {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
  float: left;
  color: #fff;
}
#catalog .btn-group-sm .btn:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
#catalog .btn-group-sm .act {
  background-color: rgba(0, 152, 202, 0.7);
  color: white;
}
.header {
  background: #fff;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 870;
  -webkit-transition: background 0.2s linear, margin-top 0.2s linear;
  transition: background 0.2s linear, margin-top 0.2s linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  top: 0;
  min-height: auto;
  padding: 2px 0;
  width: 100%;
  display: block;
  margin-top: 40px;
}
.header .logo-box {
  display: table;
  table-layout: fixed;
}
@media (min-width: 1200px) {
  .header .logo-box {
    width: 13%;
  }
}
.header .logo-box .logo {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: table-cell;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}
.header .logo-box .logo a {
  display: inline-block;
  max-width: 100%;
}
.header .logo-box .logo .logo-img {
  max-height: 100px;
  width: 157px;
}
.header .right-box {
  display: table;
}
@media (min-width: 1200px) {
  .header .right-box {
    width: 80%;
  }
}
.header .right-box .head {
  padding-left: 5px;
  padding-right: 5px;
}
.header .right-box .right-box-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  display: table-cell;
  vertical-align: middle;
}
.header .right-box .right-box-wrapper #butt .cart-header {
  display: inline-block;
  font-size: 12px;
  margin: 0 -5px 0 -1px;
  white-space: normal;
}
.header .right-box .right-box-wrapper #butt .dropdown-toggle {
  border-width: 1px;
  border-color: #fff;
  border-color: transparent;
  border-bottom: 0 none;
  color: #0098ca;
  display: block;
  line-height: 22px;
  outline: none;
  padding: 11px 15px 12px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: border-color 0.4s linear, box-shadow 0.4s linear, -moz-box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
  transition: border-color 0.4s linear, box-shadow 0.4s linear, -moz-box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
  z-index: 891;
  border-radius: 3px 3px 0 0;
}
.header .right-box .right-box-wrapper #butt .dropdown-toggle .icon {
  display: inline-block;
  height: 22px;
  margin: 0 8px 0 0;
  vertical-align: top;
  width: 16px;
}
.header .right-box .right-box-wrapper #butt .dropdown-toggle .icon svg {
  margin-top: 2px;
  vertical-align: top;
}
.header .right-box .right-box-wrapper #serch .navbar-form {
  margin: 0;
}
.header .right-box .right-box-wrapper #serch .navbar-form .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.header .right-box .right-box-wrapper #serch .navbar-form .input-group .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.header .right-box .right-box-wrapper #serch .navbar-form .input-group .input-group-btn #searchclear {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.header .right-box .right-box-wrapper #serch .navbar-form .input-group .input-group-btn .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header .right-box .right-box-wrapper #serch .navbar-form .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  font-size: 12px;
  margin-left: 5px;
  min-height: 30px;
  padding: 8px 12px;
}
.header .right-box .right-box-wrapper #serch .navbar-form .search-submit .btn {
  background: #0098ca;
  border: 0 none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  line-height: 22px;
  outline: none;
  padding: 10px 20px;
  text-shadow: none;
  filter: none;
  -webkit-transition: background .2s linear,color .2s linear;
  transition: background .2s linear,color .2s linear;
  white-space: normal;
}
.header .right-box .right-box-wrapper #serch .navbar-form .search-submit .btn .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0098ca;
}
.header .right-box .right-box-wrapper #katt .primary {
  z-index: 901;
}
.header .right-box .right-box-wrapper #katt .primary .navbar {
  min-height: 44px;
  margin-bottom: 0;
  border: 1px solid white;
}
@media (max-width: 991px) {
  .header .right-box .right-box-wrapper #katt .primary .navbar .nav {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
    float: none;
    padding: 6px 6px 3px;
    margin: 0;
    position: relative;
  }
}
.header .right-box .right-box-wrapper #katt .primary .megamenu {
  padding: 3px 4px 0;
  overflow: hidden;
  position: static;
  float: none;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu a {
  border: 1px solid transparent;
  color: #1e1e1e;
  padding: 11px 14px;
  text-shadow: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 901;
  position: relative;
  font-size: 15px;
  font-weight: bold;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu a:after {
  background: #fff;
  bottom: 0;
  content: "";
  display: none;
  height: 12px;
  left: 5px;
  margin: 0 0 -6px;
  position: absolute;
  right: 5px;
  z-index: 906;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu:hover a:after {
  display: block;
  left: 0;
  right: 0;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu:hover .sub a:after {
  display: none;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .open-sub {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 55px;
}
@media (min-width: 991px) {
  .header .right-box .right-box-wrapper #katt .primary .megamenu:hover .sub {
    display: block;
    -webkit-animation: fadeIn .4s;
    animation: fadeIn 0.4s;
  }
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub {
  left: -15px;
  width: 886px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px;
  border-radius: 0 3px 3px 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  font-size: 13px;
  line-height: 24px;
  margin: -1px 0 0;
  padding: 0;
  position: absolute;
  z-index: 900;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .promo-block {
  border-right: 1px solid #ccc;
  display: table-cell;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 34%;
  border-left: 1px solid #ccc;
  border-right: 0 none;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper {
  padding: 3px 4px 0;
  font-size: 13px;
  line-height: 24px;
  display: table;
  width: 100%;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list {
  width: 66%;
  display: table-cell;
  padding: 35px 5px;
  vertical-align: top;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list .box {
  width: 50%;
  float: left;
  padding: 0 20px 28px;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list .box:nth-child(even) {
  clear: none;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list .box:nth-child(odd) {
  clear: left;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list .box:nth-child(2) {
  clear: none;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list .box .title {
  font-size: 13px;
  line-height: 23px;
  margin: 0 0 3px;
  text-transform: uppercase;
}
.header .right-box .right-box-wrapper #katt .primary .megamenu .sub .sub-wrapper .sub-list .box .title a {
  border: 1px solid transparent;
  color: #1e1e1e;
  padding: 0 0;
  text-shadow: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 901;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
}
@font-face {
  font-family: 'social-icons';
  src: url(../../fonts/social-icons.eot?28036741);
  src: url(../../fonts/social-icons.eot?28036741#iefix) format("embedded-opentype"), url(../../fonts/social-icons.woff?28036741) format("woff"), url(../../fonts/social-icons.ttf?28036741) format("truetype"), url(../../fonts/social-icons.svg?28036741#social-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'social-icons';
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}
.icon-duckduckgo:before {
  content: '\21';
}
.icon-aim:before {
  content: '\22';
}
.icon-delicious:before {
  content: '\23';
}
.icon-paypal:before {
  content: '\24';
}
.icon-flattr:before {
  content: '\25';
}
.icon-android:before {
  content: '\26';
}
.icon-eventful:before {
  content: '\27';
}
.icon-smashmag:before {
  content: '\2a';
}
.icon-gplus:before {
  content: '\2b';
}
.icon-wikipedia:before {
  content: '\2c';
}
.icon-lanyrd:before {
  content: '\2d';
}
.icon-calendar:before {
  content: '\2e';
}
.icon-stumbleupon:before {
  content: '\2f';
}
.icon-fivehundredpx:before {
  content: '\30';
}
.icon-pinterest:before {
  content: '\31';
}
.icon-bitcoin:before {
  content: '\32';
}
.icon-w3c:before {
  content: '\33';
}
.icon-foursquare:before {
  content: '\34';
}
.icon-html5:before {
  content: '\35';
}
.icon-ie:before {
  content: '\36';
}
.icon-call:before {
  content: '\37';
}
.icon-grooveshark:before {
  content: '\38';
}
.icon-ninetyninedesigns:before {
  content: '\39';
}
.icon-forrst:before {
  content: '\3a';
}
.icon-digg:before {
  content: '\3b';
}
.icon-spotify:before {
  content: '\3d';
}
.icon-reddit:before {
  content: '\3e';
}
.icon-guest:before {
  content: '\3f';
}
.icon-gowalla:before {
  content: '\40';
}
.icon-appstore:before {
  content: '\41';
}
.icon-blogger:before {
  content: '\42';
}
.icon-cc:before {
  content: '\43';
}
.icon-dribbble:before {
  content: '\44';
}
.icon-evernote:before {
  content: '\45';
}
.icon-flickr:before {
  content: '\46';
}
.icon-google:before {
  content: '\47';
}
.icon-viadeo:before {
  content: '\48';
}
.icon-instapaper:before {
  content: '\49';
}
.icon-weibo:before {
  content: '\4a';
}
.icon-klout:before {
  content: '\4b';
}
.icon-linkedin:before {
  content: '\4c';
}
.icon-meetup:before {
  content: '\4d';
}
.icon-vk:before {
  content: '\4e';
}
.icon-plancast:before {
  content: '\50';
}
.icon-disqus:before {
  content: '\51';
}
.icon-rss:before {
  content: '\52';
}
.icon-skype:before {
  content: '\53';
}
.icon-twitter:before {
  content: '\54';
}
.icon-youtube:before {
  content: '\55';
}
.icon-vimeo:before {
  content: '\56';
}
.icon-windows:before {
  content: '\57';
}
.icon-xing:before {
  content: '\58';
}
.icon-yahoo:before {
  content: '\59';
}
.icon-chrome:before {
  content: '\5b';
}
.icon-email:before {
  content: '\5d';
}
.icon-macstore:before {
  content: '\5e';
}
.icon-myspace:before {
  content: '\5f';
}
.icon-podcast:before {
  content: '\60';
}
.icon-amazon:before {
  content: '\61';
}
.icon-steam:before {
  content: '\62';
}
.icon-cloudapp:before {
  content: '\63';
}
.icon-dropbox:before {
  content: '\64';
}
.icon-ebay:before {
  content: '\65';
}
.icon-facebook:before {
  content: '\66';
}
.icon-github:before {
  content: '\67';
}
.icon-googleplay:before {
  content: '\68';
}
.icon-itunes:before {
  content: '\69';
}
.icon-plurk:before {
  content: '\6a';
}
.icon-songkick:before {
  content: '\6b';
}
.icon-lastfm:before {
  content: '\6c';
}
.icon-gmail:before {
  content: '\6d';
}
.icon-pinboard:before {
  content: '\6e';
}
.icon-openid:before {
  content: '\6f';
}
.icon-quora:before {
  content: '\71';
}
.icon-soundcloud:before {
  content: '\73';
}
.icon-tumblr:before {
  content: '\74';
}
.icon-eventasaurus:before {
  content: '\76';
}
.icon-wordpress:before {
  content: '\77';
}
.icon-yelp:before {
  content: '\79';
}
.icon-intensedebate:before {
  content: '\7b';
}
.icon-eventbrite:before {
  content: '\7c';
}
.icon-scribd:before {
  content: '\7d';
}
.icon-posterous:before {
  content: '\7e';
}
.icon-stripe:before {
  content: '\a3';
}
.icon-opentable:before {
  content: '\c7';
}
.icon-cart:before {
  content: '\c9';
}
.icon-print:before {
  content: '\d1';
}
.icon-angellist:before {
  content: '\d6';
}
.icon-instagram:before {
  content: '\dc';
}
.icon-dwolla:before {
  content: '\e0';
}
.icon-appnet:before {
  content: '\e1';
}
.icon-statusnet:before {
  content: '\e2';
}
.icon-acrobat:before {
  content: '\e3';
}
.icon-drupal:before {
  content: '\e4';
}
.icon-buffer:before {
  content: '\e5';
}
.icon-pocket:before {
  content: '\e7';
}
.icon-bitbucket:before {
  content: '\e9';
}
.dropdown-menu .basket li {
  position: relative;
  margin-top: 15px;
}
.dropdown-menu .basket li .del {
  margin-left: 0px;
  position: absolute;
  right: 0;
  top: 40%;
}
.dropdown-menu .basket li .product-name {
  padding-left: 15px;
}
.dropdown-menu .basket li .product-price {
  padding-left: 15px;
}
.dialogadd {
  z-index: 1000;
  padding-left: 0px;
  padding: 4px 10px 4px 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px;
  background-color: #0098CA;
  opacity: 1;
}
.dialogadd p {
  text-align: center;
  margin-bottom: 0px;
  color: white;
}
.header {
  min-height: auto;
}
.header .logo {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.phonetop {
  float: right;
  padding: 4px 15px;
  color: white;
}
.megamenu a {
  font-size: 15px;
  font-weight: bold;
}
@media (min-width: 769px) {
  .topviz {
    margin-left: 300px !important;
  }
  .head {
    padding-left: 5px;
    padding-right: 5px;
  }
  #butt {
    width: 41%;
  }
  #serch {
    width: 59%;
  }
  #serch .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  #katt {
    margin-left: 23px;
    width: 59%;
    /*  margin-top: 60px;  */
    float: left !important;
  }
  .header .primary {
    float: left;
    width: 90%;
  }
  .col-md-10 {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .infoblock {
    width: 242px;
    height: 405px;
  }
  .head {
    padding-left: 5px;
    padding-right: 5px;
  }
  #butt {
    width: 32%;
  }
  #serch {
    width: 59%;
    padding-left: 15px;
  }
  #serch .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #katt {
    margin-left: 0px;
    margin-top: 0px;
    width: 9%;
  }
  .page-box {
    margin-top: 20px;
  }
}
@media (min-width: 1119px) {
  .productyr-description {
    width: 225px;
  }
  .productyr .actions a {
    margin-left: 0px;
    margin-right: 0px;
    width: 112.5px;
  }
}
@media (min-width: 1200px) {
  .infoblock {
    width: 286px;
  }
  .head {
    padding-left: 5px;
    padding-right: 5px;
  }
  #butt {
    width: 26%;
  }
  #serch {
    width: 65%;
  }
  #serch .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
#search-item-img {
  width: 150px;
}
.add-compare svg:hover {
  color: white;
}
.searchi {
  margin-bottom: 15px;
  padding-top: 20px;
}
@media (max-width: 769px) {
  .topviz {
    margin-left: 240px !important;
  }
  #search-item-img {
    float: left;
  }
  #search-actions {
    margin: 0 auto;
  }
  #top-box .top-navbar .nav > li a {
    color: white;
  }
  .top-navbar .nav > li:hover > a,
  .top-navbar .nav > li > a:hover {
    background: #33acd4;
  }
  .header .right-box {
    width: 70%;
  }
  #butt .com {
    float: right;
  }
  #serch {
    float: right;
    width: 135%;
  }
  #katt {
    width: 130%;
    padding-left: 0px;
  }
  #katt .primary {
    float: left;
    width: 100%;
  }
  #serch .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 105%;
  }
  #customers-trigger {
    float: left !important;
  }
  .top-navbar .navbar-nav {
    float: right;
  }
  .phonetop {
    padding: 9px 15px;
  }
}
@media (max-width: 520px) {
  .topviz {
    margin-left: 0px !important;
  }
}
@media (max-width: 438px) {
  #search-item-img {
    width: 75%;
    margin: 0 auto;
    float: none;
  }
  #search-actions {
    margin: 0 auto;
  }
  #search-desc {
    text-align: center;
    margin: 0 auto;
  }
  #serch {
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .infoblock {
    width: 242px;
    height: 345px;
    margin-bottom: -345px;
  }
  #top-box {
    /* 	display: block !important; */
  }
  .header {
    margin-top: 0px !important;
  }
  #footer .footer-top {
    padding-bottom: 0;
    background: #fff;
  }
  .header .logo-box {
    width: 130px;
  }
  .header .primary .sub a,
  .header .primary .sub a:visited {
    padding: 4px 9px 4px 10px;
    /* width: auto!important; */
    width: 60vw !important;
  }
  .header .primary .megamenu .title {
    padding: 4px 9px 4px 5px;
  }
  .header .primary .navbar .nav > li > a,
  .header .primary .navbar .nav > li > a:visited {
    background: #0098ca;
    color: white;
  }
  .header .primary .navbar .nav > li > a:hover {
    background: rgba(0, 152, 202, 0.8) !important;
    color: white;
  }
  .header .primary .navbar .nav > li > a span span,
  .header .primary .navbar .nav > li > a:visited span span {
    background: white;
  }
}
@media (max-width: 1200px) {
  .com {
    float: right;
  }
  .cat-banner .banner-set .banner img {
    display: none;
  }
  .cat-banner .banner-set .banner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 270px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 10px;
    background: #f2f2f2;
  }
  .banner-set .banner .title {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .com {
    float: left;
  }
  .primary {
    float: right;
  }
  .header .logo-box {
    width: 140px;
  }
  .header .primary .navbar .btn-navbar .text {
    color: #0098ca;
  }
}
@media (max-width: 478px) {
  .header .logo-box {
    width: 100px;
  }
}
@media (max-width: 463px) {
  .header .logo-box {
    width: 100vw !important;
    text-align: center;
    padding-left: 0px;
  }
  .header .right-box-wrapper {
    text-align: center;
    display: inline;
  }
}
* {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0;
  zoom: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h5 {
  margin: 0 0 5px;
}
body {
  font-family: 'Arimo', sans-serif;
  height: 100%;
  line-height: 1.6;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-top: 80px !important;
}
@media screen and (max-width: 1001px) {
  body {
    padding: 0px !important;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.header .cart-header .dropdown-toggle,
#footer .newsletter input:focus + .submit,
.icon,
.big-icon,
.big-icon:visited,
.service .icon,
.close:hover,
.close:focus,
.img-thumbnail:hover .bg-images i:before,
.box-404 h1,
.gallery-images:hover .bg-images i:before,
.features-block .header-box .icon-box,
.features-block .header-box,
.sidebar .newsletter input:focus + .submit,
.sidebar .section .selected .close:hover,
.package .title a,
.package .price-box .price,
.package .price-box .icon,
.pricing .title a,
.pricing .options li span,
.pricing .options li.active,
.banner-set .next:hover,
.banner-set .prev:hover,
.btn.btn-border,
.btn.btn-border .caret,
.product-remove:hover {
  color: #0098ca;
}
.phone-header a svg path,
.search-header a svg path,
.product .actions a svg path,
.sidebar .wishlist .add-cart:hover path,
.header .cart-header .dropdown-toggle .icon svg path,
.search-active .search-submit svg path,
.new-checkbox svg polygon,
.product-bottom .related-products li .button-box .wishlist:hover svg path,
.jslider .jslider-pointer svg path,
.rating-box .rating svg polygon,
.search-result .search-form .search-submit svg path {
  fill: #0098ca;
}
