/*breadcrumb-box*/
.breadcrumb-box {
  background: #f2f2f2;
  overflow: hidden;
}
.breadcrumb-box .breadcrumb {
  background: #f2f2f2;
  color: #7f7f7f;
  font-size: 11px;
  line-height: 18px;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}
.breadcrumb-box .breadcrumb li {
  line-height: 18px;
  text-shadow: none;
  display: inline-block;
}
.breadcrumb-box .breadcrumb li:before {
  content: "/";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb-box .breadcrumb .active {
  color: #999;
}
