.carousel .employee {
  max-width: 300px;
}
.carousel .employee .default {
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  transform: rotateY(0deg);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 24;
}
.carousel .employee .employee-hover {
  color: white;
  height: inherit;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 13;
  background: #0098ca;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  font-size: 12px;
  line-height: 20px;
  left: 15px;
  padding: 16px 20px 90px;
  position: absolute;
  right: 15px;
  top: 0;
}
.carousel .employee .employee-hover .name {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 7px;
}
.carousel .employee .employee-hover .role {
  font-size: 11px;
  line-height: 1;
  margin: 0 0 24px;
}
.carousel .employee .employee-hover .image {
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  height: 60px;
  float: right;
  line-height: 0;
  margin: 4px 0 0 5px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 60px;
  z-index: 1;
}
.carousel .employee .employee-hover .social {
  bottom: 20px;
  left: 20px;
  position: absolute;
  text-align: center;
}
.carousel .hover .employee-hover {
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transform: rotateY(0deg);
  transition-delay: .2s;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transition-delay: .2s;
  z-index: 46;
}
.carousel .hover .default {
  z-index: 35;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
}
