.sort .reactive:after {
  content: " ↑";
}
.sort .active:after {
  content: " ↓";
}
.price-box {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
.price-box .price-old {
  color: #7f7f7f;
  display: inline-block;
  margin-right: 6px;
  position: relative;
}
.price-box .price-old:before {
  background: red;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -23px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  width: 46px;
}
.price-box .price {
  font-weight: 700;
}
.productyr .productyr-name a {
  color: black;
}
.productyr .productyr-name a:hover {
  color: gray;
  text-decoration: none;
}
.productyr img {
  width: 270px;
  height: 270px;
}
.productyr .actions a {
  display: inline-block;
  height: 54px;
  margin: 0 -2px;
  padding-top: 19px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 138px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 5px;
  transition: 0.3s;
}
.productyr .actions a:hover {
  background: white;
}
.product-image {
  background: #f2f2f2;
  display: inline-block;
  line-height: 0;
  width: 270px;
  height: 270px;
}
#catalog .page-header {
  margin: 0 0 15px;
  padding: 0;
}
#catalog .page-header .container {
  position: relative;
}
#catalog .page-header .container .title {
  font-weight: 400;
  padding: 0;
  position: relative;
  font-size: 21px;
}
@media (min-width: 992px) {
  #catalog {
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#catalog .btn-group {
  width: 100%;
  position: relative;
  display: inline-block;
}
#catalog .category-img {
  background: #f2f2f2;
  margin: 0 0 5px;
  position: relative;
}
#catalog .products {
  clear: both;
  margin-top: 20px;
}
#catalog .products .productyr .price-box {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
#catalog .products .productyr .price-box .price-old {
  color: #7f7f7f;
  display: inline-block;
  margin-right: 6px;
  position: relative;
}
#catalog .products .productyr .price-box .price-old:before {
  background: red;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -23px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  width: 46px;
}
#catalog .products .productyr .price-box .price {
  font-weight: 700;
}
#catalog .products .productyr a {
  color: #1e1e1e;
  text-decoration: none;
}
@media (min-width: 992px) {
  #catalog .products .productyr {
    width: 33.33333333%;
  }
}
#catalog .products .productyr img {
  width: 270px;
  height: 270px;
}
#catalog .products .productyr .actions a {
  display: inline-block;
  height: 54px;
  margin: 0 -2px;
  padding-top: 19px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 138px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 5px;
}
#catalog .products .product-image {
  background: #f2f2f2;
  display: inline-block;
  line-height: 0;
  width: 270px;
  height: 270px;
}
#catalog .btn-group-sm .btn {
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
  float: left;
  color: #fff;
  background-color: #0098ca;
}
#catalog .btn-group-sm .btn:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
#catalog .btn-group-sm .act {
  background-color: rgba(0, 152, 202, 0.7);
  color: white;
}
@media (max-width: 767px) {
  #catalog .list .product-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}
#catalog .list .product-image img {
  width: 100%;
}
#catalog .list .product-name a {
  color: #1e1e1e;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
#catalog .list .product-name a:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
#catalog .list .price-box {
  margin: 0 0 30px;
  position: static;
  text-align: left;
}
#catalog .list .product {
  background: none;
  display: block;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  width: auto;
}
#catalog .list .product #search-actions a {
  background: #fff;
  display: inline-block;
  height: 54px;
  margin: 0 -2px;
  padding-top: 19px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 54px;
  background: #f2f2f2;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
#catalog .list .product #search-actions a:hover {
  color: white;
  background-color: #0098ca;
}
#catalog .list .product #search-actions a:hover svg path {
  fill: white;
}
#catalog .list .product .price-old {
  color: #7f7f7f;
  display: inline-block;
  margin-right: 6px;
  position: relative;
}
#catalog .list .product .price-old:before {
  background: red;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -23px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  width: 46px;
}
#catalog .list .product .price {
  font-size: 24px;
  font-weight: 400;
}
#catalog .list .product #search-item-img {
  width: 150px;
  height: 120px;
}
@media (max-width: 438px) {
  #catalog .list .product #search-item-img {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    float: none;
  }
}
#catalog .list .product #search-item-img .product-image {
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
#catalog .list .product #search-item-img .product-image img {
  width: 100%;
}
/*Лидеры продаж*/
.title-box {
  margin-bottom: 0!important;
}
.title-box .title {
  color: #7f7f7f;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 12px;
  padding: 14px 0 0;
}
.rating-box {
  background-image: url(../../../../img/svg/rating.svg), none;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 12px;
  width: 73px;
}
