.price-regulator {
  color: #7f7f7f;
  font-size: 12px;
  width: 323px;
}
.price-regulator .layout-slider {
  float: right;
  margin-top: 5px;
  width: 270px;
}
.price-regulator .layout-slider #Slider2 {
  visibility: hidden;
}
.price-regulator .layout-slider .jslider {
  display: block;
  width: 100%;
  height: 1em;
  position: relative;
  top: .6em;
  font-family: Arial, sans-serif;
}
.price-regulator .layout-slider .jslider .jslider-value {
  font-size: 9px;
  white-space: nowrap;
  padding: 1px 2px 0;
  position: absolute;
  top: -19px;
  left: 20%;
  background: #fff;
  line-height: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.price-regulator .layout-slider .jslider table {
  width: 100%;
  vertical-align: top;
}
.price-regulator .layout-slider .jslider table td {
  width: 100%;
  vertical-align: top;
}
.price-regulator .layout-slider .jslider table td div:nth-child(4) {
  display: none;
}
.price-regulator .layout-slider .jslider table td div:nth-child(5) {
  display: none;
}
.price-regulator .layout-slider .jslider .jslider-pointer {
  width: 13px;
  height: 15px;
  background-position: 0 -60px;
  position: absolute;
  left: 20%;
  top: -4px;
  margin-left: -6px;
  cursor: pointer;
  cursor: hand;
}
.price-regulator .layout-slider .jslider .jslider-bg {
  position: relative;
}
.price-regulator .layout-slider .jslider .jslider-bg i {
  height: 5px;
  position: absolute;
  font-size: 0;
  top: 0;
  background: url(../../../img/jslider.png) no-repeat 0 0;
}
.price-regulator .layout-slider .jslider .jslider-bg .l {
  width: 10%;
  background-position: 0 0;
  left: 0;
}
.price-regulator .layout-slider .jslider .jslider-bg .f {
  width: 80%;
  left: 10%;
  background-repeat: repeat-x;
  background-position: 0 -20px;
}
.price-regulator .layout-slider .jslider .jslider-bg .r {
  width: 10%;
  left: 90%;
  background-position: right 0;
}
.price-regulator .layout-slider .jslider .jslider-bg .v {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 0;
  height: 5px;
  background-repeat: repeat-x;
  background-position: 0 -40px;
}
.data {
  margin-top: 30px;
}
.data:nth-child(1) {
  margin-top: 0px;
}
.selectBox {
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  line-height: 22px;
  margin-bottom: 5px;
  margin-left: 5px;
  min-height: 30px;
  padding: 8px 12px;
  -webkit-appearance: none;
  width: 135px !important;
  background: #fff;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
}
.selectBox:focus {
  -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  -moz-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  border: solid 1px #839bb7;
  outline: none;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.selectBox .selectBox-label {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #555;
  display: block;
  padding: 0 25px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 104px !important;
}
.selectBox .selectBox-arrow {
  background: url(../../../img/svg/select.svg) 50% 50% no-repeat;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  height: 100%;
  left: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}
.selectBox-dropdown-menu {
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  -moz-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  border: solid 1px #839bb7;
  outline: none;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  color: #5f5f5f;
  font-size: 12px;
  list-style: none;
  margin: 0;
  max-height: 117px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
  z-index: 900;
}
.selectBox-dropdown-menu li {
  display: block;
}
.selectBox-dropdown-menu li a {
  color: #1e1e1e;
  cursor: pointer;
  display: block;
  line-height: 1.5;
  padding: 2px 2px 2px 16px;
  margin: 0;
  min-height: 23px;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-top: 1px solid #839bb7;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  -moz-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  border: solid 1px #839bb7;
  outline: none;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.close {
  float: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #7f7f7f;
  position: relative;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
  vertical-align: top;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}
