.sidebar ul {
  padding: 0px;
}
.sidebar .menu {
  margin: 0 0 80px;
}
.sidebar .menu .sub {
  background-color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.05);
  display: none;
  padding: 7px 0 4px;
}
.sidebar .menu .sub > .active > a {
  color: #0098ca;
}
.sidebar .menu .sub > .active > a .open-sub:after {
  background: #0098ca;
}
.sidebar .menu .sub > .active > a .open-sub:before {
  background: #0098ca;
}
.sidebar .menu .sub li a {
  padding-left: 80px;
  background: none;
  color: #7f7f7f;
  margin: 0;
  padding: 4px 9px 4px 80px;
  display: block;
}
.sidebar .menu .sub li .sub {
  background-color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 7px 0 4px;
}
.sidebar .menu .sub li .sub > .active > a {
  color: #0098ca;
}
.sidebar .menu .sub li .sub > .active > a:hover {
  color: white;
}
.sidebar .menu .sub li .sub > .active > a:hover .open-sub:after {
  background: white;
}
.sidebar .menu .sub li .sub > .active > a:hover .open-sub:before {
  background: white;
}
.sidebar .menu .sub li .sub > .active > a .open-sub:after {
  background: #0098ca;
}
.sidebar .menu .sub li .sub > .active > a .open-sub:before {
  background: #0098ca;
}
.sidebar .menu .sub li .sub > .open-sub:after {
  background: #0098ca;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: 19px 0 0 15px;
  position: absolute;
  top: 0;
  width: 16px;
}
.sidebar .menu .sub li .sub > .open-sub:before {
  background: #0098ca;
  content: "";
  display: block;
  height: 0px;
  left: 0;
  margin: 12px 0 0 22px;
  position: absolute;
  top: 0;
  width: 0px;
}
.sidebar .menu .sub li .sub li a {
  padding: 4px 9px 4px 100px;
}
.sidebar .menu .sub li .sub li .sub li a {
  padding: 4px 9px 4px 120px;
}
.sidebar .menu .active > .sub {
  display: block;
}
.sidebar .menu .active > a {
  background-color: #0098ca;
}
.sidebar .menu .active > a:hover {
  background-color: #0098ca;
  color: white;
}
.sidebar .menu .active > a:hover .open-sub:after {
  background: white;
}
.sidebar .menu .active > a:hover .open-sub:before {
  background: white;
}
.sidebar .menu .active > a .open-sub:after {
  background: white;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: 19px 0 0 15px;
  position: absolute;
  top: 0;
  width: 16px;
}
.sidebar .menu .active > a .open-sub:before {
  background: white;
  content: "";
  display: none;
  height: 0px;
  left: 0;
  margin: 12px 0 0 22px;
  position: absolute;
  top: 0;
  width: 0px;
}
.sidebar .menu li {
  list-style: none;
  margin: 0 0 3px;
}
.sidebar .menu li a {
  background-color: #f2f2f2;
  color: #1e1e1e;
  display: block;
  padding: 9px 9px 9px 60px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.sidebar .menu li a:hover {
  background-color: white;
}
.sidebar .menu li a .open-sub {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}
.sidebar .menu li a .open-sub:after {
  background: #0098ca;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: 19px 0 0 15px;
  position: absolute;
  top: 0;
  width: 16px;
}
.sidebar .menu li a .open-sub:before {
  background: #0098ca;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  margin: 12px 0 0 22px;
  position: absolute;
  top: 0;
  width: 2px;
}
.sidebar .specials header {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 40px;
  padding: 0 0 15px;
  position: relative;
}
.sidebar .specials header .title {
  color: #7f7f7f;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.sidebar .specials li {
  padding: 24px 0;
}
.sidebar .specials li .product-image {
  background: #f7f7f7;
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  height: 74px;
  margin: 0 15px 1px 0;
  overflow: hidden;
  width: 74px;
}
.sidebar .specials li .product-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 4px;
  padding-left: 85px;
}
.sidebar .specials li .price-box {
  font-size: 16px;
  line-height: 22px;
  padding-left: 85px;
}
.mainrightbar {
  display: none;
}
@media (min-width: 1900px) {
  .mainrightbar {
    display: block;
    position: absolute !important;
    top: 12px;
    left: -315px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 5px 5px 15px;
  }
  .mainrightbar header {
    display: none;
  }
}
