/*#top-box*/
#top-box {
  background: #0098ca;
  min-height: 30px;
  padding: 5px 0;
  width: 100%;
  left: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 910;
  -webkit-transition: margin-top 0.2s linear;
  transition: margin-top 0.2s linear;
}
#top-box .top-navbar {
  background: none;
  border: 0 none;
  border-radius: 0;
  height: auto;
  margin: 0;
  min-height: 31px;
}
#top-box .top-navbar #customers #customers-trigger {
  float: left !important;
}
