.pagination-box{
	.fa{
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		&:before{
			content: "\f105";
		}
	}
	.fa-angle-left:before{
		content: "\f104";
	}
	.fa-angle-rigth:before{
		content: "\f105";
	}
	.pagination{
		margin: 0 10px 0 0;
		display: inline-block;
		padding-left: 0;
		border-radius: 4px;
			.active{
				&>span {
				    background-color: #428bca;
				    border: 0 none;
				    -webkit-border-radius: 2px;
				    -moz-border-radius: 2px;
				    border-radius: 2px;
				    color: #fff;
				    float: left;
				    font-size: 12px;
				    font-weight: 700;
				    line-height: 24px;
				    margin: 0 5px 0 0;
				    min-width: 6px;
				    padding: 0 9px;
				    text-align: center;
				    -webkit-transition: all .2s linear;
				    transition: all .2s linear;
				}
			}  
		
		a{
			background-color: #ccc;
		    border: 0 none;
		    -webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    border-radius: 2px;
		    color: #fff;
		    float: left;
		    font-size: 12px;
		    font-weight: 700;
		    line-height: 24px;
		    margin: 0 5px 0 0;
		    min-width: 6px;
		    padding: 0 9px;
		    text-align: center;
		    -webkit-transition: all .2s linear;
		    transition: all .2s linear;
		    &:hover{
		    	background-color: #428bca;
		    	color: white;
		    }
		}
	}
	
}